<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40543561438-msntgo199aqcj12jkn9eoaq64eoaqm60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40543561438-msntgo199aqcj12jkn9eoaq64eoaqm60</string>
	<key>API_KEY</key>
	<string>AIzaSyBB3NSi2vFR_ISQkZU-R3Y7Y1o1gewxIhU</string>
	<key>GCM_SENDER_ID</key>
	<string>40543561438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itDa</string>
	<key>PROJECT_ID</key>
	<string>it-da-e4a42</string>
	<key>STORAGE_BUCKET</key>
	<string>it-da-e4a42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40543561438:ios:01688e7105ba09d08ec44f</string>
</dict>
</plist>